// Color de fondo para el body
$bg-color-body:#a8ffdd;

// Color de fondo de banner
$bg-color-banner:#fee9a6;

// Color de efecto hoover para navbar- BS
$bg-color-hoover:#3fd97f;

// Color de fondo para iconos de redes sociales
$bg-color-redes:#ebefc9;

// espacio entre etiquetas
$separador:5px;

// Color de fondo para medios de pago
$bg-color-mpagos:#ebdfc6;

